<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- assembly settings for the Win-service exe -->
    <key id="SOLUTION_HOME_PATH">
      <!-- Full-paths of your Foldda solutions
      <value>C:\[Data]\Discharge-Registry\Step-3-Build and Config\1-HL7NetReceiver</value>
      <value>C:\[Data]\Discharge-Registry\Step-3-Build and Config\TabularDatabaseReader</value>
      -->
      <value>TestSolution</value>
    </key>
    <!--Global node-init-state - can be used to start all nodes, or to force all nodes to be stopped initially -->
    <!--NOTE, local node-config <InitState> overwrites this setting, except if this setting is 'STOP'   -->
    <key id="DEFAULT_NODE_INIT_STATE">
      <!-- valid values are Start|Stop|Resume|{blank} -->
      <value>
      </value>
    </key>
    <key id="SMTP_SERVER">
      <!-- {SMTP host-name or ip}[:{port}]>
      <value>smtp.sendgrid.net:587</value-->
    </key>
    <key id="SMTP_ACCOUNT">
      <!-- {login};{password}-->
      <value>apikey;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</value>
    </key>
    <key id="SMTP_ENABLE_TLS">
      <!-- YES or {blank} -->
      <value>YES</value>
    </key>
    <key id="EMAIL_FILTER_MASKS">
      <!-- semicolon-separated alert patterns that to be masked-off from emailing -->
      <!-- eg. SUBJECT_PATTERN_1(body-pattern-1);SUBJ_PAT_2();SUBJ_PAT_3(body-pattern-3) -->
      <value>SUBJECT_PATTERN(body-pattern);WARNING1()</value>
    </key>
    <key id="EMAIL_TO_RECIPIENTS">
      <!-- semicolon-separated email recipients -->
      <value>smarthl7tools@gmail.com;foldda@outlook.com</value>
    </key>
    <key id="REDUCE_NODE_LOGGING">
      <!-- yes/no/blank -->
      <value>yes</value>
    </key>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>