<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- assembly settings for the DevKit exe -->
    <key id="N1_CONFIG_PATH">
     <!-- Full-paths to the handler's config file -->
     <value>node-1_config_file</value>
    </key>
    <key id="N2_CONFIG_PATH">
     <!-- Full-paths to the handler's config file -->
     <value>node-2_config_file</value>
    </key>
    <key id="N3_CONFIG_PATH">
     <!-- Full-paths to the handler's config file -->
     <value>node-3_config_file</value>
    </key>
  </appSettings>
</configuration>