<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- assembly settings for the Win-service exe -->
    <key id="N1_CONFIG_PATH">
      <!-- Full-paths, or relative paths, to your Foldda solutions -->
      <value>_example_sol1</value>	<!-- relative path to the runtime exe  -->
    </key>
	<key id="N2_CONFIG_PATH">
	 <!-- Full-paths, or relative paths, to your Foldda solutions -->
	 <value>_example_sol1</value>
	 <!-- relative path to the runtime exe  -->
	</key>
	<key id="N3_CONFIG_PATH">
	 <!-- Full-paths, or relative paths, to your Foldda solutions -->
	 <value>_example_sol1</value>
	 <!-- relative path to the runtime exe  -->
	</key>
  </appSettings>
</configuration>